.grid-block .active {
    color: #f83b5f;
    border-bottom: 3px solid red;
}

.grid-block-item {
    position: relative;
    width: 33.33%;
    text-align: center;
    height: 40px;
    line-height: 40px;
    background: white;
    border-left: none;
    border-right: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#product, .product {
    padding: 25px 15px 10px;
}

#swiper-list-introduction-container {
    background: white;
    margin-top: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.swiper-slide {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 50px;
}

.swiper-slide img {
    width: 100%;
    min-height: auto;
}

.list-item-introduction p {
    padding-bottom: 20px;
    font-size: 1.3rem;
}
#product img{
    margin-bottom: 15px;
}
#product li>img:last-child,
#product img:last-child{
    margin-bottom: 0;
}
.swiper-slide-introduction-appointment {
    border: 1px solid #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.swiper-slide-introduction-appointment span {
    display: inline-block;
    background: #f83b5f;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    margin-right: 2px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: white;
    font-size: 1.2rem;
    vertical-align: middle;
}

.swiper-list-introduction .swiper-slide:nth-of-type(2) i {
    position: absolute;
    right: 0px;
    top: 6px;
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid #e0e0e0;
    border-left: none;
    border-top: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    z-index: 10;
}

.swiper-slide-introduction-appointment .grid-block-item {
    font-size: 1.2rem;
    text-align: center;
}

.list-item-introduction h2, .list-item-introduction h3 {
    font-size: 1.5rem;
    margin: 10px 0px 10px 0px;
    color: #f83b5f;
}

.swiper-list-introduction .swiper-slide:nth-of-type(2) p {
    font-size: 1.3rem;
}

.swiper-list-introduction .swiper-slide:nth-of-type(3) li {
    position: relative;
    font-size: 1.3rem;
    padding-left: 30px;
    padding-bottom: 30px;
}

.swiper-list-introduction .swiper-slide:nth-of-type(3) li:nth-last-child(1):after {
    height: 0%;
}

.swiper-list-introduction .swiper-slide:nth-of-type(3) li span {
    position: absolute;
    top: -5px;
    left: -5px;
    display: inline-block;
    background: #f83b5f;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    margin-right: 2px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: white;
    font-size: 1.2rem;
    vertical-align: middle;
    text-align: center;
    z-index: 9;
    border: solid 5px #fff ;
}

.swiper-list-introduction .swiper-slide:nth-of-type(3) li:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 8px;
    display: inline-block;
    background: #dddddd;
    width: 3px;
    height: 100%;
    vertical-align: middle;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}

table td {
    border: 1px solid #d0d0d0;
    padding: 15px;
    font-size: 1.3rem;
}

table td[colspan] {
    text-align: center;
    padding: 10px;
    background: #f5f5f5;
}

table tr td:nth-of-type(1) {
    width: 35%;
}

table tr td:nth-of-type(2) {
    border-left: none;
}

#makeUpCenter {
    padding-bottom: 0px;
}

.equipment-address .wrap > section h4 {
    font-size: 1.5rem;
}

.equipment-address address {
    display: block;
    padding-top: 5px;
    font-style: normal;
    font-size: 1.3rem;
}

#makeUpCenter .equipment-introduction {
    padding: 5px 10px 10px;
}

.equipment-introduction .grid-block-item img {
    margin-bottom: 15px;
}

#address {
    margin-bottom: 0px;
}

.equipment-address {
    padding: 20px 15px 20px 15px;
    background-color: #f3eeec;
}

.equipment-address h3 {
    font-size: 1.7rem;
    padding-bottom: 20px;
}

.equipment-address .wrap {
    border: 1px solid #ddd;
    padding: 10px;
    background: white;
}

.right-icon {
    right: 8px;
    top: 25px;
}

.equipment-address .wrap > section {
    position: relative;
    background: white;
    padding: 10px 10px;
}

.equipment-introduction .grid-block-item{
    padding-right: 2%;
    height: auto;
}

.equipment-introduction .grid-block-item:nth-of-type( 2n ),
.equipment-introduction .grid-block-item:nth-of-type( 3n ),
.equipment-introduction .grid-block-item:nth-of-type( 4n ){
    padding-right: 1%;
    padding-left: 1%;
}

.equipment-introduction .grid-block-item:nth-of-type( 5n ){
    padding-right: 0;
    padding-left: 2%;
}