body {
    overflow-x: hidden;
}

.section {
    position: relative;
    background: white;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.section h3 {
    position: relative;
    color: #333;
    font-size: 1.6rem;
    padding: 15px;
}

#description {
    padding: 0rem 15px 15px 15px;
    font-size: 1.3rem;
}

#choumei-price {
    padding-right: 15px;
}

.section .price {
    padding: 15px;
    border: 1px solid #dddddd;
    border-right: none;
}

.section .price b {
    font-weight: normal;
    color: #333;
}

.section .price > span {
    color: #999999;
    font-size: 1.3rem;
}

.section .detail {
    position: absolute;
    top: 0px;
    right: 0px;
    padding-top: 18px;
    padding-right: 30px;
    font-size: 1.3rem;
    color: #e4e4e4;
}

.section .detail:after {
    content: '';
    position: absolute;
    left: 56px;
    top: 21px;
    width: 15px;
    height: 11px;
    background: url('../../images/home/next_normal@2x.png') no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
}

.guaranteed {
    padding: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-justify-content: center;
    justify-content: center;
}

.guaranteed .grid-block-item {
    width: 50%;
    padding-left: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.guaranteed .grid-block-item:before {
    content: ' ';
    position: absolute;
    left: 0;
    top: -2px;
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background: url('../../images/fashion/dingzhuang_baozhang_icon@3x.png');
    -webkit-background-size: contain;
    background-size: contain;
}

.head-people-liked {
    position: absolute;
    top: 20px;
    right: 10%;
    background: white;
    width: auto;
    height: 20px;
    padding: 5px 10px;
    line-height: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-size: 1.2rem;
    z-index: 10;
}

.head-people-liked img {
    position: relative;
    top: -2px;
    width: 16px;
    margin-right: 5px;
    vertical-align: middle;
}

.grid-block-item {
    position: relative;
    width: 33.33%;
    font-size: 1.2rem;
}

.grid-block-item:nth-of-type(n+4) {
    padding-bottom: 0px;
}

.head-img, .needle-shop {
    position: relative;
    display: block;
    background: no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}

.introduction h3 span {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 15rem;
    vertical-align: middle;
}

.introduction h3 i {
    background: #fd7692;
    height: 15px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 1px 7px;
    line-height: 15px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-size: 1.2rem;
    color: white;
    font-style: normal;
}

.slimming {
    border-top: 1px solid #dddddd;
}

.slimming img {
    width: 20px;
    margin-right: 20px;
}

.slimming .leg-img {
    width: 25px;
}

.slimming .grid-block-item {
    width: 50%;
    padding: 15px 0px;
    border-bottom: 1px solid #dddddd;
    text-align: center;
    vertical-align: middle;
    font-size: 1.5rem;
}

.text-right {
    position: relative;
    text-align: right;
    padding-right: 20px;
    font-size: 1.4rem;
}

.slimming .text-right .gray {
    font-size: 1.4rem;
}

.slimming:nth-of-type(3) {
    border-top: none;
}

.slimming:nth-of-type(3) .grid-block-item {
    border-bottom: none;
}

.slimming .line {
    position: absolute;
    left: 50%;
    top: 8%;
    width: 1px;
    height: 80%;
    border-left: 1px solid #dddddd;
}

.needle-shop {
}

.needle-shop img {
    width: 100%;
}

.needle-shop-description {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.3);
    font-size: 1.3rem;
}

.needle-shop-description span {

    margin-right: 4px;
}

.promise, .appointment {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    border-top: 1px solid #dddddd;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.promise {
    padding-left: 15px;
}

.promise span {
    width: 92px;
    padding: 3px 0px;
    margin-right: 10px;
    display: inline-block;
    background: url('../../images/makeup/dingzhuang_baozhe_icon@3x.png') no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
    text-align: center;
}

.promise .grid-block-item {
    width: 100%;
    margin: 0px 0px 15px 0px;
}

.appointment .grid-block-item {
    width: 100%;
    vertical-align: middle;
    padding-bottom: 15px;
}

.appointment .title {
    color: #333333;
    font-size: 1.4rem;
}

.appointment .title-description {
    color: #d0d0d0;
    font-size: 1.4rem;
    padding-right: 1rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
}

.makeup-center .grid-block-item:nth-of-type(1) {
    width: 10%;
}

.makeup-center .grid-block-item:nth-of-type(2) {
    width: 80%;
    padding-left: 15px;
}

.makeup-center .grid-block-item:nth-of-type(2) .right-icon {
    right: -14px;
    top: 14px;
}

.makeup-center .grid-block-item:nth-of-type(2) div:nth-of-type(1) {
    font-size: 1.6rem;
    color: #333333;
    margin-bottom: 2px;
}

.makeup-center .grid-block-item:nth-of-type(2) div:nth-of-type(2) {
    font-size: 1.3rem;
}

.makeup-center {
    position: relative;
    padding: 15px 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.makeup-center img {
    position: relative;
    top: 5px;
    width: 100%;
    vertical-align: middle;
}

.learn-makeup-center {
    background: #feebc1;
    color: #FD9B4C;
    text-align: center;
    padding: 8px;
    font-size: 1.4rem;
    vertical-align: middle;
}

.learn-makeup-center span {
    position: relative;
    top: -2px;
    font-size: 2rem;
    vertical-align: middle;
}

.end {
    margin-bottom: 60px;
}

.product-details {
    padding: 10px;
    text-align: center;
    background: #f3eeec;
}

.product-details span {
    display: inline-block;
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    background: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#phone-num {
    display: none;
}

#confirm_ok_button {
    position: relative;
}

#confirm_ok_button a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.expert .right-icon {
    right: 15px;
    top: 21px;
}


