body {
    background-color: white;
}

#makeUpCenter{
    
padding-bottom: 10px;
}
.equipment-address {
    padding: 20px 15px 20px 15px;
    background-color: #f3eeec;
}

.equipment-address h3 {
    font-size: 1.7rem;
    padding-bottom: 20px;
}

.equipment-address .wrap {
    border: 1px solid #ddd;
    padding: 10px;
    background: white;
}

.right-icon{
    right: 9px;
    top: 25px;
}

.equipment-address .wrap > section {
    position: relative;
    background: white;
    padding: 10px 10px;
}

.equipment-address .wrap > section h4 {
    font-size: 1.5rem;
}

.equipment-address address {
    display: block;
    padding-top: 5px;
    font-style: normal;
    font-size: 1.3rem;
}

.equipment-introduction {
    background: white;
    padding: 20px 15px 0;
}

.equipment-introduction h3 {
    font-size: 1.6rem;
    padding-bottom: 10px;
}

.equipment-introduction p {
    font-size: 1.3rem;
    padding-bottom: 15px;
}

.equipment-introduction img {
    width: 100%;
    /* min-height: 200px; */
}

.grid-block {
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.equipment-introduction .grid-block-item:nth-of-type( 2n ),
.equipment-introduction .grid-block-item:nth-of-type( 3n ),
.equipment-introduction .grid-block-item:nth-of-type( 4n ){
    padding-right: 1%;
    padding-left: 1%;
}

.equipment-introduction .grid-block-item:nth-of-type( 5n ){
    padding-right: 0;
    padding-left: 2%;
}

.grid-block-item img {
    min-height: auto;
}

#toTop img {
    width: 100%;
}

#address{
    padding: 5px 10px 3px;
}