/* 
* @Author: ypl
* @Date:   2015-04-16 11:32:16
* @Last Modified by:   anchen
* @Last Modified time: 2015-04-29 17:44:13
*/
.no-result{
  display : none;
  padding-top: 100px;
}

.no-result > img{
  width:109px;
  height:102px;
  display: block;
  margin: 0 auto;
}
.no-result > p{
  margin-top: 15px;
  color:#999;
  font-size:15px;
  text-align: center;
}
.order_list_section{
    padding-bottom:15px;
}
.section-bg-color{
  background-color: #ffffff;
  width:100%;
  box-sizing: border-box;
}

.order-list-box{
  position: relative;
  width:100%;
  box-sizing: border-box;
}

.background-line{
  height:15px;
  background-color:#f3eeec;
}

.order-start{
  position: relative;
}

.order-info-des{
  position: relative;
  width:100%;
  display:inline-block;
  box-sizing: border-box;
  height: 100%;
}

.right-move{
  right:18%;
}

.order-info-del{
  display: none;
  position: absolute;
  width: 18%;
  box-sizing: border-box;
  background: #e83260;
  right: 0;
  top: 0px;
  text-align: center;
  height: 100%;
}

.del-btn-text{
  display: inline-block;
  padding-top: 90px;
  color:#f3eeec;
}

.order-salon-box{
  position:relative;
  width:100%;
  box-sizing: border-box;
}

.order-salon-name{
  position: relative;
  width:100%;
  box-sizing: border-box;
  height:40px;
}

.salon-name{
  display: inline-block;
  font-size: 1.6rem;
  height:40px;
  line-height:40px;
  margin-left: 15px;
  font-weight: bold;
  width:75%;
  text-overflow: ellipsis;
  overflow:hidden;
  white-space:nowrap;
}

.limit-activity{
  display: inline-block;
  position: absolute;
  right:50px;
}

.add{
  right: 140px;
}

.limit-flag{
  position: absolute;
  width:28px;
  height:29px;
  top: -3px;
}

.delete-order-btn{
  display: none;
  background-color: #e83260;
  position: absolute;
  right: 0px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  width: 80px;
  font-size: 1.5rem;
  text-align: center;
  top: 0px;
}


.order-salon-title{
  position: relative;
  width:100%;
  box-sizing: border-box;
  height:88px;
}

.salon-image-box{
  display: inline-block;
  height: 60px;
  margin: 15px;
}

.salon-image{
  width:60px;
  height:60px;
}

.act-des-box{
  display: inline-block;
}

.act-name{
  position:absolute;
  top:13px;
  font-size: 1.5rem;
}
.act-norms{
  position: absolute;
  top: 36px;
  color: #c8c8c8;
  font-size: 1.4rem;
}
.act-price{
  position:absolute;
  bottom:13px;
  width:60%;
  white-space: nowrap;
  font-size: 1.2rem;
}

.act-price > p{
  font-size: 1.2rem;
}

.price-span{
  display:inline-block;
  width:50%;
  text-align:right;
  font-size: 1.2rem;
}

.order-salon-pay{
  position: relative;
  width:100%;
  box-sizing: border-box;
  height:50px;
}

.inventory-num{
  display: inline-block;
  position: absolute;
  right: 120px;
  font-size: 1.5rem;
  margin: 15px;
  color:#e83260;
}

.gray{
  color:#c8c8c8;
}

.dotted-line{
  margin-left: 15px;
  border-bottom:1px dotted #dadada;
}

.order-pay-btn{
  top: 0px;
  width: 60px;
  height:30px;
  line-height:30px;
  border-radius: 6px;
  background-color: #ffffff;
  text-align: center;
  color: #e83260;
  border: 1px solid #e83260;
  margin: 10px 0px;
  right: 30px;
  position: absolute;
}

.pay-gray{
  color:#c8c8c8;
  border: 1px solid #c8c8c8;
}

.font-color{
  color:#e83260;
}

.order-buy-limit{
  display: none;
  margin: 10px 0px 10px 15px;
  box-sizing: border-box;
  width: 95%;
  border-bottom: 1px dotted #dadada;
}

.order-buy-limit > p {
  background: url(../../images/user/tongyong_xiaofeixianzhi@2x.png) no-repeat left;
  background-size: 16px;
  display: inline-block;
  width: 48%;
  box-sizing: border-box;
  padding-left: 22px;
  font-size: 1.3rem;
  margin: 5px 0px;
  color:#aaaaaa;  
}

.order-user-tip{
  margin: 15px;
  background:url(../../images/user/tongyong_shijianxianzhi@2x.png) no-repeat left;
  background-size: 10px;
  padding-left :20px;
  font-size:1.3rem;
}

.order-detail-title{
  margin: 10px;
  font-size: 1.5rem;
  background: url(../../images/user/tongyong_dingdanxiangqing@2x.png) no-repeat left;
  background-size: 18px;
  color:#aaaaaa;
  padding-left: 30px;
}
.order-detail{
  margin:15px;
}
.order-detail-p{
  margin:8px 0px;
  color:#aaa;
  font-size:1.3rem;
}

.detail-p-s{
  color:#2c2c2c;
}

.order-s-pay-btn{
  margin:20px auto;
  border-radius: 6px;
  border:none;
  text-align: center;
  background-color:#e83260;
  width:90%;
  height:40px;
  line-height: 40px;
  color: #ffffff;
}

