
.stylist-info.dark-bg .head , .stylist-info.dark-bg .info{
background-color: #1B1728;
	color: #fff;
}

.full{
	width: 100%;
}

.center{
	text-align: center;
}

.cover-bg{
	top: 0;
}

.row{
	display: table;
	width: 100%;
}

.row .col{
    position: relative;
    display: table-cell;
}

.col-33{
	width:33.33%;
}

.row .cell{
	padding:1rem;
	position:relative;
}

.row .cell.cell-clickable{
	padding-right: 3rem;
}

.cell-icon-left .icon{
    margin-right: .3rem;
    margin-top: -.8rem;
    background-size: 15px;
}

.cell-clickable:after{
	content: "";
	width: 1.5rem;
	height: 1.5rem;
	top: 50%;
	background-size: contain;
	display: inline-block;
	position: absolute;
	margin-top: -.7rem;
	background: url(../../images/home/next_normal@2x.png) no-repeat center;
	right: 1rem;
}

.tal{
	text-align: left;
}

.tar{
	text-align: right;
}

.fr{
	float: right;
}

.fl{
	float: left;
}

.small{
	font-size: smaller;
}

.clean{
	clear: both;
}

/*colors*/
.assertive{
	color:#EF4764;
}

.grey{
	color: #6A686F;
}

.dark-bg {
	background-color: #1B1728;
	color: #fff;
}

.dark-bor {
	border-color: #282535;
}

.light-line{
	background-color: #DADADA;
	height: .1rem;
}

.light-grey-bg{
	background-color: #F7F2F6;
}

.light-grey{
	color: #AAAAAA;
}

.yellow{
	color: #FFA200;
}

/*icons*/
.icon{
	background-position: center;
	background-repeat: no-repeat;
	width: 4rem;
	height: 4rem;
	display: inline-block;
	vertical-align: middle;
	background-size: contain;
}

.icon-small{
	width: 2rem;
	height: 2rem;
}

.icon-big{
	width: 100%;
	height: 100%;
}

.icon-gallery{
	background-image: url(../../images/salon/zaoxingshi_tuji_normal@2x.png);
}

.icon-gallery.actived {
	background-image: url(../../images/salon/zaoxingshi_tuji_pressed@2x.png);
}
.icon-salon{
    background-image: url(../../images/salon/zaoxingshi_dianpu@2x.png);
}
.icon-heart {
	background-image: url(../../images/salon/zaoxingshi_xihuan_normal@2x.png);
}
.icon-heart.actived {
	background-image: url(../../images/salon/zaoxingshi_xihuan_pressed@2x.png);
}

.icon-location {
	background-image: url(../../images/salon/zaoxingshi_dizhi@2x.png);
}

.icon-comment {
	background-image: url(../../images/salon/zaoxingshi_pinglun@2x.png);
}

.icon-personal {
	background-image: url(../../images/salon/zaoxingshi_geren@2x.png);
}

.icon-hairDrier {
	background-image: url(../../images/salon/zaoxingshi_zuopin@2x.png);
}

.icon-ranfa{
	background-image: url(../../images/salon/tanchu_ranfa_normal@2x.png);
}

.icon-ranfa.actived{
	background-image: url(../../images/salon/tanchu_ranfa_pressed@2x.png);
}

.icon-tanfa{
    background-image: url(../../images/salon/tanchu_tanfa_normal@2x.png);
}

.icon-tanfa.actived{
    background-image: url(../../images/salon/tanchu_tanfa_pressed@2x.png);
}

.icon-tanran{
    background-image: url(../../images/salon/tanchu_tanran_normal@2x.png);
}
.icon-tanran.actived{
    background-image: url(../../images/salon/tanchu_tanran_pressed@2x.png);
}

.icon-close{
	background-image: url(../../images/salon/tanchu_guanbi_normal@2x.png);
}

.badge span{
	border-radius: 100%;
	background-color: #ED4864;
	color: #1B1728;
	padding: .3rem;
	font-size: 1.2rem;
	display: block;
	margin-top: -.7rem;
	margin-right: -.3rem;
	min-width: 1.2rem;
    text-align: center;
}

.mt-5{
	margin-top: .5rem;
}

.mt1{
	margin-top: 1rem;
}

.mb2{
	margin-bottom: 2rem;
}

.mb5{
	margin-bottom: 5rem;
}

.stylist-info .desc{
	padding:1rem;
}

.stylist-info .datas{
	border-top:1px solid #282535;
	padding:1rem 0;
}

.stylist-info .datas .number{
	font-size: 1.8rem;
}

.stylist-info .datas .col{
	border-left: 1px solid #282535;
}

.stylist-info .datas .col:first-child{
   border-left: none;
}

.stylist-info .avatar{
	width: 8rem;
	height: 8rem;
	border-radius: 100%;
}

.stylist-info .name{
	color: #FDFDFC;
	margin:1rem 0;
}

.stylist-info .introduce{
	color: #76767A;
	font-size: 1.3rem;
}

.profile .cell{
	background-color: #fff;
}

.profile .cell p.content{
	color: #959595;
}

#distance{
	color: #AAAAAA;
}

.gallery {
	position: relative;
}

.gallery .photo,.gallery .photo-large{
	display: block;
	margin: 2%;
}
.gallery .photo{
	width: 30%;
	height: 30%;
}
.gallery .photo:nth-child(3n+1){
    margin-left: 0;
}

.gallery .photo-large{
	width: 63%;
	height: 63%;
}
.gallery .photo img,.gallery .photo-large img{
	width: 100%;
}

.big-btn{
	margin:0 5%;
}

.fixed-footer{
	position: fixed;
	bottom: 1rem;
}

.modal{
	position: fixed;
	top:10%;
	margin:0 4%;
	width: 92%;
	border-radius: 1rem;
	background-color: #EBE8ED;
	box-sizing: border-box;
	z-index: 999;
}

.modal-container{
	margin:0 2rem;
}

.modal-header .avatar{
    text-align: center;
    margin-top: -3.2rem;
}

.modal-header .close{
	right: 1rem;
	position: absolute;
	top: 1rem;
}

.modal-header .avatar img{
	border-radius: 100%;
    width:6.4rem;
    border:solid .3rem #EBE8ED;
}

.big-btn.full{
	width: 100%;
	margin: 0;
}

.modal-footer .btn{
	border-top-left-radius: 0%;
	border-top-right-radius: 0%;
}

.modal-body .row{
	display: block;
	width: 100%;
}

.modal-body .row .col{
	width: 32%;
	display: inline-block;
}

.modal-body .row .col .icon{
	width: 100%;
	display: block;
	height: 0;
	padding-bottom: 100%;
}

.input{
	line-height: 3rem;
	border:1px solid #DADADA;
	border-radius: 1rem;
	background-color: #fff;
	padding:1rem;
}

.noWorks{
	float: right;
	color: #aaa;
    margin-right: 2rem;
}

#stylist-desc{
    padding: 0 1em 1em 2.5em;
    margin-bottom: 2rem;
    color: #959595;
}
#salon-addr{
    padding: 0 0em 0em 2em;
    font-size: 1.3rem;
    color: #959595;
}
#salon-addr:before{
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    top: 30%;
    display: inline-block;
    position: absolute;
    margin-top: -.7rem;
    left: 1rem;
    background: url(../../images/salon/zaoxingshi_dizhi@2x.png) no-repeat center;
    background-size: contain;
}
.salon-area-dist{
    text-align: right;
}
.salon-area-dist span{
    font-size: 1.2rem;
    color: #AAA;
}
.cell-gallery{
    padding: 9px 10%;
    background-color: #F5F5F5;
}
.cell-gallery p{
    padding: 6px 0;
}