@charset "UTF-8";
/**
 * 
 * @authors jieming.luo (9971414@qq.com)
 * @date    2015-07-06 17:08:32
 * @version $Id$
 */
/*start common*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
html{font-size: 10px;}
body{
    min-width: 320px !important;
    max-width: 640px !important;
    margin: 0 auto;
    font-family:"微软雅黑";font-size:1.5rem;color: #2c2c2c;
}
a{text-decoration:none;color: inherit;}
img{vertical-align:middle; border:0; }
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
    font-size: 1.5rem;
}
ul{
    list-style: none;
}
.hide{
    display: none;
}
.hidden{
    visibility: hidden;
}
/*end common*/
html{
    height: 100%;
}
body{
    height: 100%;
    background: #37598b;
    overflow: hidden;
}
.swiper-container,.swiper-wrapper,.page,.pageWrap{
    width: 100%;
    height: 100%;
}
.pageWrap{
    display: none;
}
/*loading*/
.loadingWrap{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background-color: #37598b;
    z-index: 2;
}
.loadingBox {
  width: 160px;
  height: 100px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 99;
}
.loading {
  height: 50px;
  width: 50px;
  margin: 0 auto;
  border: 4px solid #2c476f;
  border-right-color: #7889a3;
  border-bottom-color: #7889a3;
  -webkit-border-radius: 60px;
  border-radius: 60px;
}
.loadingTips {
  text-align: center;
  color: #7889a3;
  margin-top: 10px;
  font-size: 15px;
}
.rotate {
  -webkit-animation: rotate 1s linear infinite;
  animation: rotate 1s linear infinite;
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/*end loading*/
#arrow {
  position: absolute;
  left: 0;
  bottom: 2%;
  display: none;
  width: 100%;
  height: 50px;
  background: url("images/arrow.png") no-repeat center;
  background-size: 19px;
  -webkit-animation: guideTop 1.5s infinite;
  display: block;
  z-index: 999;
}
@-webkit-keyframes guideTop {
  0% {
    -webkit-transform: translateY(42px);
    opacity: 0;
  }
  60% {
    -webkit-transform: translateY(12px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0px);
    opacity: 0;
  }
}
@keyframes guideTop {
  0% {
    -webkit-transform: translateY(42px);
    opacity: 0;
  }
  60% {
    -webkit-transform: translateY(12px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0px);
    opacity: 0;
  }
}
/*start page pag1*/
.page1 .main{
    width:55%;
    height: 100%;
    padding-top: 20%;
    margin: 0 auto;
}
.page1 .imagesWrap{
    margin-bottom: 30px;
    width: 100%;
    height: 32%;
    min-height: 170px;
    position: relative;
}
.page1 .imagesWrap img{
    position: absolute;
    z-index: 1;
}
.page1  .moon{
    width: 90%;
}
.page1 .man{
  width: 35%;
  left: 25%;
  top: 17%;
}
.cloud{
    width: 28%;
}
.cloud.cloud1{
    bottom: 5%;
}
.cloud.cloud2{
    right: 10%;
    bottom: 0;
    z-index: 0;
}
.cloud.cloud3{
    right: -10%;
    bottom: 70px;
    
}
.star{
    width: 10%;
}
.star.star1{
    top: -20px;
    left: 25%;
}
.star.star2{
    width: 6%;
    top: 20%;
    left: 10%;
}
.page1 .content{
    width: 100%;
}
.page1 .dreamText{
    width: 100%;
    margin-bottom: 20px;
}
.page1 .nameWrap{
    margin: 40% 0 20px;
    font-size: 24px;
    color: #fff;
    text-align: center;
}
/*animation*/
.page1 .man{
    animation-delay: .5s;
    -webkit-animation-delay: .5s;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
}
.page1 .star{
    animation: flash 2s infinite;
    -webkit-animation: flash 2s infinite;
}
@keyframes flash{
    0%{
        opacity: .2;
    }
    30%{
        opacity: .5;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: .7;
    }
    100%{
        opacity: .2;
    }
}
@-webkit-keyframes flash{
    0%{
        opacity: .2;
    }
    30%{
        opacity: .5;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: .7;
    }
    100%{
        opacity: .2;
    }
}
.page1 .cloud.animated{
    animation-duration:2s;
    -webkit-animation-duration:2s;
}
.page1 .cloud.animation2{
    animation: cloudAni 3s infinite;
    -webkit-animation: cloudAni 3s infinite;
}
.page1 .cloud.cloud2{
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
}
.page1 .cloud.cloud3{
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}
@keyframes cloudAni{
    0%{
        transform: translate3d(0, 0, 0);
    }
    25%{
        transform: translate3d(2px, 0, 0);
    }
    75%{
        transform: translate3d(-2px, 0, 0);
    }
}
@-webkit-keyframes cloudAni{
    0%{
        -webkit-transform: translate3d(0, 0, 0);
    }
    25%{
        -webkit-transform: translate3d(2px, 0, 0);
    }
    75%{
        -webkit-transform: translate3d(-2px, 0, 0);
    }
}
/*end page*/

/*start page2*/
.page2{
    background:#577da8 url(images/2_a.png) no-repeat bottom;
    background-size: 100%;
}
.page2 .hill{
    width: 100%;
    position: absolute;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    bottom: 0;
}

.page2 .man{
  width: 30%;
  bottom: 25%;
  position: absolute;
  right: 35%;
  animation:zoomInY 1.5s;
  -webkit-animation:zoomInY 1.5s;
}
.page2 .city{
    width: 100%;
  position: absolute;
  bottom: 30%;

}
.page2 .textWrap{
    text-align: center;
    padding-top: 50px;
}
.page2 .textWrap img{
    width: 50%;
    margin-top: 20px;
}
.page2 .textWrap img:first-child{
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
}
.page2 .textWrap img:nth-child(2){
    animation-delay: 2.5s;
    -webkit-animation-delay: 2.5s;
}
.page2 .textWrap img:nth-child(3){
    -webkit-animation-delay: 3s;
}
/*end page2*/
/*start page3*/
.page3{
    background: #4886aa;
}
.page3 .building{
    height: 70%;
    right: 7%;
    top: 15%;
    position: absolute;
}
.page3 .cloud.cloud1,.page3 .cloud.cloud2{
    width: 20%;
    position: absolute;
}
.page3 .cloud.cloud1{
   top: 30%;
   right: 5%;
}
.page3 .cloud.cloud2{
  top: 10%;
  right: 50%;
}
.page3 .cloud.cloud3{
  width: 35%;
  position: absolute;
  top: 39%;
  right: 40%;
}
.page3 .man{
  width: 6%;
  margin-left: -3%;
  bottom: 10%;
  left: 30%;
  position: absolute;
}
.page3 .head{
  width: 20%;
  margin-left: -10%;
  bottom: 20.75%;
  left: 30%;
  position: absolute;
}
.page3 .text{
  width: 45%;
  left: 5%;
  position: absolute;
  top: 20%;
  animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}
.page3 .cloud.animation{
    animation: cloudAni2 10s infinite;
    -webkit-animation: cloudAni2 10s infinite;
}
.page3 .cloud2.animation{
    animation-delay: 1s;
}
.page3 .cloud3.animation{
    animation-delay: 1.5s;
}
@keyframes cloudAni2{
    0%{
        transform: translate3d(0, 0, 0);
    }
    25%{
        transform: translate3d(30%, 0, 0);
    }
}
@-webkit-keyframes cloudAni2{
    0%{
        -webkit-transform: translate3d(0, 0, 0);
    }
    25%{
        -webkit-transform: translate3d(30%, 0, 0);
    }
}
.page3 .animation.run{
 -webkit-animation: run 1s;
  animation: run 1s;
}
@keyframes run {
  0% {
    -webkit-transform: translate3d(-150px,50px,0);
            transform: translate3d(-150px,50px,0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0);
            transform: translate3d(0);
  }
}
.page3 .animation.zoomInY{
    -webkit-animation: zoomInY 1s;
  animation: zoomInY 1s;
}

/*end page3*/
/*start page4*/
.page4{
    background:#9c5fa9;
}
.page4 .man,.page4 .tear{
    width: 60%;
  bottom: 20%;
  left: 50%;
  margin-left: -30%;
  position: absolute;
}
.page3 .animation.zoomOutIn{
    -webkit-animation: zoomOutIn 1s;
  animation: zoomOutIn 1s;
}

.page4 .text{
    margin-top: 13%;
    text-align: center;
}
.page4 .text img{
    width: 40%;
    margin: 5% 0 0;
}
.page4 .text .text1{
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
}
.page4 .text .text2{
    animation-delay: 2.5s;
    -webkit-animation-delay: 2.5s;
}

.page4 .text .text3{
    animation-delay: 3.5s;
    -webkit-animation-delay: 3.5s;
}
.page4 .text .text4{
    animation-delay: 4s;
    -webkit-animation-delay: 4s;
}


.page4 .tear.animated{
    animation-delay: 1s;
    -webkit-animation-delay: 1s;

}
.page4 .tear.translateY{
    animation:translateY 1s infinite;
    -webkit-animation:translateY 1s infinite;
}
@keyframes translateY {
  0% {
    transform:  translate3d(0,0,0);
  }

  50% {
    transform: translate3d(0,-5px,0);
  }
}
@-webkit-keyframes translateY {
   0% {
    -webkit-transform:  translate3d(0,0,0);
  }

  50% {
    -webkit-transform: translate3d(0,-5px,0);
  }
}
/*end page4*/
/*start page5*/
.page5{
    background:#529e8b;
}
.page5 .man{
       width: 35%;
  top: 15%;
  right: 8%;
  position: absolute;
}
.page5 .text{
     width: 60%;
    padding-top: 40px;
  z-index: 2;
  top: 25%;
  left: 8%;
  text-align: center;
  position: absolute;
}
.page5 .text .textCircle{
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    z-index: -1;
}
.page5 .text img{
    margin-bottom:10px;
    width: 75%;
}
.page5 .text .logo{
    width: 25%;
}
.page5 .text .textCircle{
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}
.page5 .text .text1{
    animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
}
.page5 .text .text2{
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
}
.page5 .text .text3{
    animation-delay: 2.5s;
    -webkit-animation-delay: 2.5s;
}
.page5 .text .text4{
    animation-delay: 3s;
    -webkit-animation-delay: 3s;
}
.page5 .text .text5{
    animation-delay: 3.5s;
    -webkit-animation-delay: 3.5s;
}
.page5 .text .text6{
    animation-delay: 4s;
    -webkit-animation-delay: 4s;
}
.page5 .text .text7{
    animation-delay: 4.2s;
    -webkit-animation-delay: 4.2s;
}
/*end page5*/

/*start page6*/
.page6{
    text-align: center;
    background: #9e8652;
}
.page6 .animation.zoomOutIn{
    -webkit-animation: zoomOutIn 1s;
  animation: zoomOutIn 1s;
}
.page6 .man,.page6 .light{
    position: absolute;
  bottom: 20%;
  width: 40%;
  left: 50%;
  margin-left: -20%;
}
.page6 .light{
    bottom: 22%;
    -webkit-animation: flash .5s infinite;
  animation: flash .5s infinite;
}
.page6 .method{
    bottom: 15%;
  width: 50%;
  margin-left: -25%;
  left: 50%;
  position: absolute;
  animation-delay: 1s;
    -webkit-animation-delay: 1s;
}
.page6 .cloud{
    width: 80%;
  top: 5%;
  margin-left: -40%;
  left: 50%;
  position: absolute;
  animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
}
.page6 .text{
      width: 50%;
  position: absolute;
  top: 14%;
  margin-left: -25%;
  left: 50%;

  animation-delay: 2s;
    -webkit-animation-delay: 2s;
}
/*end page6*/
/*start page7*/
.page7{
    text-align: center;
    background: #56529e;
}
.page7 .man,.page7 .foot{
      width: 36%;
  margin-left: -18%;
  left: 50%;
  position: absolute;
    top: 40%;
}
.page7 .msg{
     right: 25%;
  width: 15%;
  position: absolute;
  top: 70%;
  animation-delay: 1s;
    -webkit-animation-delay: 1s;
}
.page7 .text{
      padding-top: 80px;
}
.page7 .text img{
        width: 65%;
  margin-bottom: 15px;
}
.page7 .text img:first-child{
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
}
.page7 .text img:nth-child(2){
    animation-delay: 2.5s;
    -webkit-animation-delay: 2.5s;
}
.page7 .text img:nth-child(3){
    animation-delay: 3s;
    -webkit-animation-delay: 3s;
}
/*end page7*/
/*start page8*/
.page8{
    text-align: center;
    background: #356786;
}

.page8 .man{
      width: 20%;
    top: 14.9%;
  left: 50%;
  margin-left: -10%;
   position: absolute;
}
.page8 .friend1{
      width: 45%;
    top: 18%;;
  margin-left: -25%;
  left: 30%;
   position: absolute;
    animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
}
.page8 .friend2{
   width: 45%;
    top: 18%;
  margin-right: -25%;
  right: 30%;
   position: absolute;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}
.page8 .text{
      width: 100%;
      top: 50%;
  position: absolute;
   }
.page8 .text img{
    width: 40%;
    margin-bottom: 20px;
}
.page8 .text .text1{
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
}
.page8 .text .text2{
    animation-delay: 2.5s;
    -webkit-animation-delay: 2.5s;
}
.page8 .text .text3{
    animation-delay: 3s;
    -webkit-animation-delay: 3s;
}
.page8 .text .text4{
    animation-delay: 3.5s;
    -webkit-animation-delay: 3.5s;
}
/*end page8*/
/*start page9*/
.page9{
    text-align: center;
    background: #924a71;
}
.page9 .man,.page9 .hand{
  width: 60%;
  left: 50%;
  top: 15%;
  margin-left: -30%;
  position: absolute;
  
}
.page9 .hand{
    animation: moveHand 1s infinite;
    -webkit-animation: moveHand 1s infinite;
}
.page9 .msg,.page9 .msg2{
      width: 60%;
  left: 50%;
  margin-left: -30%;
  top: 70%;
  position: absolute;
  animation-delay: 2s;
    -webkit-animation-delay: 2s;
}
.page9 .msg2{
    top: 76%;
    animation-delay: 2.5s;
    -webkit-animation-delay: 2.5s;
}
@keyframes moveHand{
    25%{
        transform: translateX(5px);
    }
    75%{
        transform: translateX(-5px);
    }
    100%{
        transform: translateX(0);
    }
    
}
@-webkit-keyframes moveHand{
    25%{
        -webkit-transform: translateX(5px);
    }
    75%{
        -webkit-transform: translateX(-5px);
    }
    100%{
        -webkit-transform: translateX(0);
    }
    
}
/*end page9*/
/*start page10*/
.page10{
    background: #8d4f5c;
    text-align: center;
}
.page10 .man{
      width: 50%;
  position: absolute;
  left: 50%;
  top: 8%;
  margin-left: -25%;
}
.page10 .msg{
    position: absolute;
  left: 16%;
  top: 18%;
  width: 16%;
  animation-delay: 2.5s;
    -webkit-animation-delay: 2.5s;
}
.page10 .text{
    width: 100%;
      top: 60%;
  position: absolute;
}
.page10 .text img{
    width: 50%;
    margin-bottom: 15px;
}
.page10 .text .text1{
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}
.page10 .text .text2{
    animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
}
.page10 .text .text3{
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
}
.page10 .text .text4{
    animation-delay: 2.5s;
    -webkit-animation-delay: 2.5s;
}
/*end page10*/
/*start paga11*/
.page11{
    text-align: center;
    background: #304476;
}
.page11 .man{
    width: 50%;
    margin-top: 16%;
}
.page11 .msg{
    width: 80%;
    margin-top: 10%;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}
.page11 .phone,.page .ok{
    width: 65%;
    height: 40px;
    margin-left: -32.5%;
    left: 50%;
    font-size: 14px;
    color: #333;
    text-align: center;
    outline: none;
    border: none;
    bottom: 13%;
    background-color: #acb4c8;
    position: absolute;
}
.page11 .phone{
  margin-bottom: 15%;
}
.page11 .phone::-webkit-input-placeholder{
    color: #304476;
}
.page11 .ok{
    background:#fff url(images/11_buton_wenzi.png) no-repeat center;
    background-size: 19px;
    border-radius: 6px;
}
.page11 .ok.disabled{
    background-color:#f0f0f0 ;
}
/*end page11*/
/*start page12*/
.page12{
    text-align: center;
    background: #be475d;
}
.page12 .man{
    width: 50%;
  margin-left: -25%;
  left: 50%;
  margin-top: 10%;
  position: absolute;
}
.page12 .msg{
      position: absolute;
  top: 17%;
  left: 10%;
  width: 15%;
  animation-delay: 1s;
    -webkit-animation-delay: 1s;
}
.page12 .text{
      width: 60%;
  margin-top: 70%;
  animation-delay: 2s;
    -webkit-animation-delay: 2s;
}
.page12 input{
    width: 50%;
    height: 40px;
    margin-top: 25px;
    font-size: 14px;
    color: #304476;
    text-align: center;
    outline: none;
    border: none;
    background:#fff url(images/12_d.png) no-repeat center;
    background-size: 90px;
    border-radius: 6px;
}
.page12 .share{
    background-image: url(images/12_e.png);
}
.page12 .mask{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background-color: #000;
    opacity: 0.8;
}    
.page12 .maskWrap img{
    z-index: 2;
    position: absolute;
}
.page12 .maskWrap .guideText{
     width: 90%;
  left: 5%;
  top: 15%;
}
.page12 .maskWrap .guideArrow{
      width: 20%;
  right: 6%;
  top: 0;
}
/*end page12*/
/*common animation*/
@keyframes zoomInY {
  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3) translate3d(0,100px,0);
  }

  50% {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}
@-webkit-keyframes zoomInY {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3) translate3d(0,100px,0);
  }

  50% {
    -webkit-transform: translate3d(0,0,0);
    opacity: 1;
  }
}
.zoomOutIn{
    animation-name: zoomOutIn ;
    -webkit-animation-name: zoomOutIn ;
}
@keyframes zoomOutIn {
  0% {
    opacity: 0;
    transform: scale3d(2, 2, 2);
  }
}
@-webkit-keyframes zoomOutIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(2, 2, 2);
  }
}
/*end animation*/