.equipment-address {
}

.equipment-address h3 {
    font-size: 1.7rem;
    padding: 15px 15px 10px 15px;
}

.equipment-address .wrap {
    border: 1px solid #ddd;
    margin: 5px 15px 20px 15px;
}

.right-icon{
    right: 9px;
    top: 28px;
}

.equipment-address .wrap > section {
    position: relative;
    background: white;
    padding: 15px 10px;
}

.equipment-address .wrap > section h4 {
    font-size: 1.5rem;
}

.equipment-address address {
    padding-top: 5px;
    font-style: normal;
    font-size: 1.3rem;
}

.equipment-address .address {

}

.equipment-introduction {
    background: white;
    padding: 0px 15px 15px;
}

.equipment-introduction h3 {
    font-size: 1.6rem;
    padding-left: 0px;
}

.equipment-introduction p {
    font-size: 1.3rem;
    padding-bottom: 15px;
}

.equipment-introduction img {
    width: 100%;
    margin-bottom: 15px;
}

.grid-block {
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.grid-block-item img {
    min-height: auto;
}

#toTop {
    position: fixed;
    right: 5%;
    bottom: 10%;
    width: 40px;
}

#toTop img {
    width: 100%;
}