@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
html{font-size: 10px;}
body{
    min-width: 320px !important;
    max-width: 640px !important;
    margin: 0 auto;
    font-family:"微软雅黑";
}

h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
ul{
    list-style: none;
}
.hide{
    display: none;
}
.mt2{
    margin-top:2%!important;
}
/*end common*/
html,body,.container{
    height: 100%;
}
img{
    max-width: 100%;
    width: 100%;
}
.container{
    overflow: hidden;
    position: relative;
    background-repeat:no-repeat;
    background-position: center;
    background-size:cover;
}
.footer{
    position: fixed;
    width: 100%;
    left: 0;
    bottom:6%;
    text-align: center;
}
#ruleBtn{
    display: block;
    color: #f6eceb;
    margin: 15px auto;
    font-size: 1.6rem;
}
.btn{
    width:60%;
    margin: 0 auto;
}
.footer1{
    bottom:13%;
}
.footer2{
    bottom:8%;
}
.border1{
    width:60%;
    border:1px solid #94a3b6;
    border-radius:4px;
    -webkit-border-radius:4px;
    padding:2% 0;
}
.footer3>.btn{
    width:43%;
}
.footer3>p{
    text-decoration: underline;
    border:none;
}
.footer5{
    top:18%;
}
.footer5 #ruleBtn{
    width:42%;
}
.footer5 #appBtn{
    width:50%;
}
.color080404{
    color:#080404!important;
}
.footer6>.btn{
    width:50%;
}
@media screen and (max-height:480px){
    .footer{
        bottom:3%;
    }
    .footer1{
        bottom:10%;
    }
    .footer4{
        bottom:6%;
    }
}
@media screen and (min-height:660px){
    .footer p{
       font-size: 1.8rem;
    }
}
